<!-- <svg width="560" height="300" id="svg2"></svg> -->
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="jsonData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (click)="drillDownData($event);"
  (contextmenu)="onrightClick($event)">
</ngx-charts-bar-vertical>

<div *ngIf="contextmenu">
  <app-context-menu [contextmenuX]="contextmenuX" [contextmenuY]="contextmenuY" (colorCodeData)="receiveColorCode($event)"></app-context-menu>
</div>