<div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
        <div class="card-header">
          Line Chart
          <div class="card-header-actions">
  
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <app-line-chart [lineWidth]="lineWidth" [lineHeight]="lineHeight"></app-line-chart>
          </div>
        </div>
      </div>
      <div class="card">
            <div class="card-header">
              Pie Chart
              <div class="card-header-actions">
      
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <app-pie-chart></app-pie-chart>
              </div>
            </div>
          </div>
      <div class="card">
        <div class="card-header">
          Dounut Chart
          <div class="card-header-actions">
  
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <app-donut-chart></app-donut-chart>
          </div>
        </div>
      </div>
      <div class="card">
            <div class="card-header">
              Bar Chart
              <div class="card-header-actions">
      
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <app-bar-chart [barWidth]="lineWidth" [barHeight]="lineHeight"></app-bar-chart>
              </div>
            </div>
          </div>
      <!-- <div class="card">
        <div class="card-header">
          Scattered Chart
          <div class="card-header-actions">
  
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
          </div>
        </div>
      </div> -->
      
      <!-- <div class="card">
        <div class="card-header">
          Bubble Chart
          <div class="card-header-actions">
  
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
          </div>
        </div>
      </div> -->
    </div>
  </div>
  